* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    color: var(--color-blackish);
    overflow-x: hidden;
    font-family: "Lato", sans-serif;
}

button {
    font-family: "Lato", sans-serif;
}

html {
    font-size: 10px;
}

ul {
    list-style: none;
}

:root {
    --section-spacing-horizontal: 4rem;
    --section-spacing-vertical: 12rem;
    --container-width: 126rem;
    --color-blackish: #23272a;
    --color-whitish: #f6f6f6;
}

header {
    width: 100vw;
    height: 8rem;
    position: absolute;
}

/* NAV @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

header nav {
    margin: 0 auto;
    width: 126rem;
    max-width: 100vw;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--section-spacing-horizontal);
}

nav > *:not(a) {
    height: inherit;
    width: auto;
}

nav > :nth-child(2) {
    flex-grow: 2;
}
nav > a {
    height: 3rem;
    width: 12rem;
}

/* NAV
    |__logo @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    |__link
    |__button
*/

.logo {
    background-image: url(../svgs/discord-svgrepo-com.svg);
    height: inherit;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    color: white;
    z-index: 99;
    width: 100%;
    height: 100%;
}

/* NAV
    |__logo
    |__link @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    |__button
*/

header nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul * {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

.header-link {
    padding: 1rem;
    margin: 1rem;
}

.header-link:hover {
    text-decoration: underline;
}

/* NAV
    |__logo 
    |__link
    |__btn @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/

.btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
button {
    padding: 1.1rem 1.4rem;
    font-size: 14px;
    border: none;
    border-radius: 2rem;
    font-weight: 400;
}

button:hover {
    cursor: pointer;
}

button:active {
    box-shadow: 0 1rem 3rem -1.4rem var(--color-blackish);
    transition: all 0.2 ease-out;
}

/* SECTION GENERIC @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

section {
    position: relative;
    width: 100vw;
    height: 100vh;
}

section:not(:nth-of-type(5)) .container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 0 auto;
    width: var(--container-width);
    padding: var(--section-spacing-vertical) var(--section-spacing-horizontal);
    height: 100%;
}

.download__down__arrow {
    font-size: 3rem;
    line-height: 0;
    padding-right: 3rem;
}

.section__welcome,
.paired__container__01 .img,
.paired__container__02 .img,
.paired__container__03 .img,
.section__05 .img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* SECTION 1 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.section__welcome {
    background-image: url(../imgs/jumbo.png);
    background-size: 145%;
    position: initial;
}

.container__welcome {
    flex-direction: column;
    text-align: center;
}

.h1__welcome {
    font-size: 5.6rem;
    color: white;
    font-size: 900;
    margin-bottom: 4rem;
}

.container .text {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 0 10rem;
}

.h1__section__02,
.h1__section__03,
.h1__section__04 {
    margin-bottom: 2.4rem;
    font-size: 4.8rem;
    text-align: start;
}

.p__section__02,
.p__section__03,
.p__section__04 {
    font-size: 2rem;
    text-align: start;
}

.p__welcome {
    margin-bottom: 3rem;
    font-size: 2rem;
    color: white;
    font-weight: 400;
    line-height: 1.7;
}

.download__welcome,
.open__welcome {
    font-size: 2rem;
    border-radius: 2rem;
    padding: 1.6rem 4rem;
    border-radius: 4rem;
    display: inline-block;
    margin: 0 1.5rem;
}

.download__welcome {
    background-color: white;
    color: #23272a;
}

.open__welcome {
    background-color: #23272a;
    color: white;
}

.download__welcome:hover {
    color: #7289da;
    box-shadow: 0 1rem 3rem -1.4rem var(--color-blackish);
}

.open__welcome:hover {
    background-color: #36393f;
    box-shadow: 0 1rem 3rem -1.4rem var(--color-blackish);
}

/* SECTION 2 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.section__02 {
    position: relative;
}

.absolute__wave svg{
    position: absolute;
    content: "";
    left: 50%;
    transform: translate(-50%, 10rem) scaleY(-1);
    width: 100%;
    height: 15rem;
    bottom: 0;
    z-index: 10;
}

.absolute__wave__2{
    fill: #fff
}

.absolute__wave 

.section__02 .container {
    display: flex;
    justify-content: center;
}

.section__02 .container .img {
    flex: 3;
}

.section__02 .container .text {
    flex: 2;
}

.paired__container__01 .img {
    background-image: url(../svgs/item1.svg);
}

/* SECTION 3 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.section__03 {
    background-color: #f6f6f6;
}

.section__03 .container .img {
    flex: 3;
}

.section__03 .container .text {
    flex: 2;
}

.absolute__wave__3{
    fill: var(--color-whitish)
}

.section__03 .container {
    display: flex;
    justify-content: center;
    width: var(--container-width);
}

.paired__container__02 .img {
    background-image: url(../svgs/item2.svg);
}

/* SECTION 4 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.section__04 .container {
    display: flex;
}

.section__04 .container .img {
    flex: 3;
}

.section__04 .container .text {
    flex: 2;
}

.absolute__wave__4{
    fill: white;
}

.paired__container__03 .img {
    background-image: url(../svgs/item3.svg);
}

/* SECTION 5 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.section__05 {
    min-height: 100rem;
    background-color: #f6f6f6;
}

.section__05 .container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: var(--container-width);
    padding: var(--section-spacing-vertical) var(--section-spacing-horizontal);
}

.section__05 .container .text {
    order: -1;
    flex: 1 0 1rem;
}

.h1__section__05 {
    font-size: 4.8rem;
    text-align: center;
    margin-bottom: 2.4rem;
}

.p__section__05 {
    text-align: center;
    font-size: 2rem;
}

.section__05 .container .img {
    flex: 8 0 1rem;
}

.section__05 .img {
    background-image: url(../svgs/item4-big.svg);
    background-size: 100%;
}

/* SECTION 6 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.section__06 {
    height: 30vh;
    width: 100vw;
    background-color: #f6f6f6;
}

.section__06 .container {
    text-align: center;
    flex-direction: column;
    padding: calc(var(--section-spacing-vertical) / 2) calc(var(--section-spacing-horizontal) / 2);
}

.h1__section__06 {
    padding: 4rem 4rem 0;
    margin-bottom: 5rem;
    background-image: url(../svgs/stars.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    font-size: 3.2rem;
}

.section__06 .links__welcome a {
    background-color: #7289da;
    color: #f6f6f6;
    margin-bottom: 10rem;
}

.section__06 .container .text {
    margin: 0 auto;
    width: max-content;
}

/* FOOTER @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

footer {
    min-height: 60vh;
    width: 100vw;
    background-color: rgb(47, 45, 45);
    justify-content: center;
}

footer nav {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: var(--container-width);
    padding: 8rem 0;
}

/* TODO: TOGLIERE FLEX QUA (per ora c'e' per lo stretch) */
footer nav .top {
    width: 100%;
    flex: 6 1 0;
    display: flex;
    margin-bottom: 5rem;
    padding: 0 5rem;
}

footer nav .bottom {
    border-top: 0.1rem solid #5865f2;
    width: 100%;
    flex: 2 1 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 5rem;
    padding: 5rem 5rem 0;
}

footer nav .bottom .left {
    height: 100%;
    width: 12rem;
}

footer nav .bottom .nav__footer__left,
footer nav .bottom .nav__footer__right {
    height: 100%;
    width: 30rem;
    display: flex;
    align-items: flex-end;
}

footer nav .bottom .nav__footer__right {
    justify-content: flex-end;
}

footer nav .bottom .nav__footer__left a {
    height: 3rem;
    width: 12rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

footer nav .bottom .nav__footer__right .btn button {
    background-color: #5865f2;
    color: white;
}

footer .top .nav__footer__right {
    flex: 2;
    display: flex;
}

footer .top .nav__footer__left {
    flex: 1;
}

.nav__footer__right > ul {
    flex: 1;
}

.nav__footer__right > ul > * {
    margin-bottom: 1.2rem;
}

.nav__footer__left .h1__footer {
    font-family: "Bungee Inline", sans-serif;
    font-size: 3.2rem;
    color: #5865f2;
    line-height: 0.9;
    margin-bottom: 2rem;
}

.lang__footer {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.lang__footer .img {
    height: 3rem;
    width: 3rem;
    background-image: url(../imgs/ita.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.select__country {
    margin-left: 0.5rem;
    border: none;
    background-color: transparent;
    color: white;
}

.p__curr__country {
    color: white;
    margin-left: 1rem;
    font-size: 1.4rem;
}

.contacts__footer {
    width: max-content;
    margin-left: -0.3rem;
}

.contacts__footer li {
    padding-right: 2rem;
    display: inline-block;
}

.contacts__footer a {
    display: block;
}

.contacts__footer a * {
    font-size: 2.2rem;
}

.nav__footer__right .li__desc {
    color: #5865f2;
    font-size: 1.6rem;
    font-weight: 400;
}

.nav__footer__right a {
    font-size: 1.6rem;
    color: white;
    font-weight: 400;
}

.nav__footer__right a:hover {
    text-decoration: underline;
    transition: all 0.2s ease-out;
}
