* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    overflow-x: hidden;
    background-color: black;
    font-family: "Lato", sans-serif;
}

button {
    font-family: "Lato", sans-serif;
}

html {
    font-size: 10px;
}

ul {
    list-style: none;
}

:root {
    --section-spacing-horizontal: 4rem;
    --section-spacing-vertical: 12rem;
    --container-width: 126rem;
}

header {
    width: 100vw;
    height: 8rem;
    position: absolute;
}

/* NAV @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

nav {
    margin: 0 auto;
    /* background-color: #5865f2; */
    width: 126rem;
    max-width: 100vw;
    height: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 var(--section-spacing-horizontal);
}

nav > *:not(a) {
    height: inherit;
    width: auto;
}

nav > :nth-child(2) {
    flex-grow: 2;
}
nav > a {
    height: 3rem;
    width: 12rem;
}

/* NAV
    |__logo @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    |__link
    |__button
*/

.logo {
    background-image: url(../svgs/discord-svgrepo-com.svg);
    height: inherit;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0% 50%;
    color: white;
    z-index: 99;
    width: 100%;
    height: 100%;
}

/* NAV
    |__logo
    |__link @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
    |__button
*/

ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul * {
    color: white;
    font-size: 1.5rem;
    font-weight: 600;
}

.header-link {
    padding: 1rem;
    margin: 1rem;
}

.header-link:hover {
    text-decoration: underline;
}

/* NAV
    |__logo 
    |__link
    |__btn @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
*/

.btn {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
button {
    padding: 1.1rem 1.4rem;
    font-size: 14px;
    border: none;
    border-radius: 2rem;
    font-weight: 400;
}

button:hover {
    cursor: pointer;
}

button:active {
    box-shadow: 0 1rem 3rem -1.4rem black;
    transition: all 0.2 ease-out;
}

/* SECTION GENERIC @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

section:not(:last-child) {
    width: 100vw;
    height: 100vh;
}

section:not(:nth-of-type(5)) .container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 0 auto;
    width: var(--container-width);
    padding: var(--section-spacing-vertical) var(--section-spacing-horizontal);
    height: 100%;
}

.img {
    background-color: #3040f1;
}

.text {
    background-color: #f32626;
}

.paired__container__01 .img,
.paired__container__02 .img,
.paired__container__03 .img {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/* SECTION 1 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.section__welcome {
    background-image: url(../imgs/jumbo.png);
    background-size: contain;
}

.container__welcome {
    flex-direction: column;
    text-align: center;
}

.h1__welcome {
    font-size: 5.6rem;
    color: white;
    font-size: 900;
    margin-bottom: 4rem;
}

.p__welcome {
    margin-bottom: 3rem;
    font-size: 2rem;
    color: white;
    font-weight: 400;
    line-height: 1.7;
}

.download__welcome,
.open__welcome {
    font-size: 2rem;
    border-radius: 2rem;
    padding: 1.6rem 4rem;
    border-radius: 4rem;
    display: inline-block;
    margin: 0 1.5rem;
}

.download__welcome {
    background-color: white;
    color: #23272a;
}

.open__welcome {
    background-color: #23272a;
    color: white;
}

.download__welcome:hover {
    color: #7289da;
    box-shadow: 0 1rem 3rem -1.4rem black;
}

.open__welcome:hover {
    background-color: #36393f;
    box-shadow: 0 1rem 3rem -1.4rem black;
}

/* SECTION 2 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.section__02 {
    background-color: white;
}

.section__02 .container {
    display: flex;
    justify-content: center;
}

.section__02 .container .img {
    flex: 3;
}

.section__02 .container .text {
    flex: 2;
}

.paired__container__01 .img {
    background-image: url(../svgs/item1.svg);
}

/* SECTION 3 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

section:nth-of-type(3) {
    background-color: grey;
}

section:nth-of-type(3) .container .img {
    flex: 3;
}

section:nth-of-type(3) .container .text {
    flex: 2;
}

section:nth-of-type(3) .container {
    display: flex;
    justify-content: center;
    width: var(--container-width);
}

.paired__container__02 .img {
    background-image: url(../svgs/item2.svg);
}

/* SECTION 4 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

section:nth-of-type(4) {
    background-color: white;
}

section:nth-of-type(4) .container {
    display: flex;
}

section:nth-of-type(4) .container .img {
    flex: 3;
}

section:nth-of-type(4) .container .text {
    flex: 2;
}

.paired__container__03 .img {
    background-image: url(../svgs/item3.svg);
}

/* SECTION 5 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.section__05 {
    background-color: grey;
    height: 150vh;
}

.section__05 .container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;
    width: var(--container-width);
    padding: calc(var(--section-spacing-vertical) / 2) calc(var(--section-spacing-horizontal) / 2);
}

.section__05 .container .text {
    order: -1;
    flex: 1 0 1rem;
}

.section__05 .container .img {
    flex: 8 0 1rem;
}

/* SECTION 6 @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

.section__06 {
    height: 40vh;
    background-color: grey;
    width: 100vw;
}

.section__06 .container {
    flex-direction: column;
    padding: calc(var(--section-spacing-vertical) / 2) calc(var(--section-spacing-horizontal) / 2);
}

.section__06 .container .text {
    height: 40%;
}

.section__06 .container .btn {
    height: 40%;
    background-color: #3040f1;
}

/* FOOTER @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ */

footer {
    height: 80vh;
    width: 100vw;
    background-color: rgb(47, 45, 45);
    justify-content: center;
}

footer .container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    height: 100%;
    width: var(--container-width);
    padding: 8rem 0;
}

footer .container .bottom {
    width: 100%;
    flex: 2 1 0;
    /* background-color: brown; */
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

footer .container .bottom .left,
footer .container .bottom .right {
    height: 100%;
    width: 30rem;
    display: flex;
    align-items: flex-end;
}

footer .container .bottom .right {
    justify-content: flex-end;
}

footer .container .bottom .left a {
    height: 3rem;
    width: 12rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
}

footer .container .bottom .right .btn button {
    background-color: #5865f2;
    color: white;
}

footer .container .top {
    width: 100%;
    flex: 6 1 0;
    display: flex;
    /* justify-content: space-between; */
}

footer .top .right {
    flex: 2;
    display: flex;
}

footer .top .left {
    flex: 1;
    background-color: #5865f2;
}

footer .top .right li {
    height: 100%;
    flex: 1;
    background-color: #f32626;
    border: 0.1rem dashed;
}
